---
Language: Cpp
BasedOnStyle: Google
ArrayInitializerAlignmentStyle: Left
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignEscapedNewlines: Right
AllowShortCaseLabelsOnASingleLine: true
ShortBlockStyle: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlwaysBreakTemplateDeclarations: Yes
AllowAllParametersOfDeclarationOnNextLine: true
SpacesInAngles: true
SpacesInCStyleCastParentheses: true
PointerAlignment: Right
UseTab: Never

...
